<nav>
<button class="summary">Summary</button>
<button class="education">Educations</button>
<button class="experience">Experiences</button>
</nav>

<div class="mysummary style">
      <h1>Welcome to my portfolio website!</h1>
    <p>I am a Full Stack Web Developer, currently a teaching assistant at Coding Dojo. Highly versed in the latest technologies in web development using the following stacks:

    <ul>
        <li> LAMP (PHP, Apache, and MySQL)</li> 
        <li>MEAN (MongoDb, Express, Angular.js and Node.js) plus Socket.IO</li>
        <li>Ruby on Rails</li>
    </ul>

    <p>Experienced working in the financial industry, and educated in information technology. Passionate about improving the efficiency of business processes through technology. Recognized by employers and team members as a detail oriented, consistent team player, organized and a highly analytical individual.</p>
</div>

<div class="myeducation hidden style">
    <img class="dojo" src="/images/coding_dojo.png" alt="Coding Dojo"/>
    <img src="/images/uop.png" alt="University of Phoenix"/>
    <img src="/images/bc.gif" alt="Bellevue College"/>
    
    <div class="megroup">
        <h3>Coding Dojo | Seattle WA | Oct. 2014 - Feb 2015</h3>
        <h4>Black Belt (2015) - The highest measure of achievement, attained by the top 5 - 10% of students</h4>
        <p>Full stack web development engineer</p>
    </div>

    <div class="megroup">
        <h3>University of Phoenix | Bellevue WA | 2007 - September 2009</h3>
        <h4>Bachelor of Science</h4>
        <p>Information Technology /  Information Assurance and Security</p>
    </div>

    <div class="megroup">
        <h3>Bellevue College | Bellevue WA | 1997 - March 2001</h3>
        <h4>Associate Art and Science</h4>
        <p>Management Information System</p>
    </div>
</div>

<div class="myexperience hidden style">
    <img class="dojo" src="/images/coding_dojo.png" alt="Coding Dojo">
    <img src="/images/ewbc.png" alt="East West Bank">
    
    <div class="megroup">
        <h3>Coding Dojo | Seattle WA | Feb 2015 - Present</h3>
        <h4>Teaching assistant</h4>
        <ul>
            <li>Serving as an instructional aide for the next cohort of students at Coding Dojo.</li>
        </ul>
    </div>

    <div class="megroup">
        <h3>East West Bank | Bellevue WA | 2009 to April 2014</h3>
        <h4>Sr. Customer Service Representative</h4>
        <ul>
            <li>Award Star Performer of Excellence in Customer Service 3 years in a row.</li>
            <li>Recognized as an organized and consistent team player by branch manager and
            colleagues.</li>
        </ul>   
    </div>

    <div class="megroup">
        <h3>GD Mortgage, Inc | Bellevue WA | 2005 to July 2009</h3>
        <h4>Mortgage Consultant and Processor</h4>
        <ul>
            <li>Appointed as a trainer to new loan officer on completing a residential mortgage application, analyzed financial statements and credit reports, and constructed loans for submission.</li>
            <li>Closed an average of three to five loans a month, with average over $500,000.00 per transaction.</li>
        </ul>
    </div>
</div>
