<nav>
<button class="lamp">LAMP stack</button>
<button class="mean">MEAN stack</button>
<button class="rnr">Ruby on Rails stack</button>
</nav>

<div class="slamp style">
    <img src="/images/php.png" alt="php"/>
    <img src="/images/mysql.png" alt="MySQL"/>
    <img class="cdignite" src="/images/codeigniter.png" alt="CodeIgnitor"/>
    
    <div class="sksec">
        <div class="skgroup">
            <h3>Technologies / Languages</h3>
            <p>PHP and MySQL</p>
            <p>OOP with PHP</p>
            <p>MVC with PHP (CodeIgniter)</p>
            <p>Basic JavaScript</p>
            <p>Ajax in PHP</p>
        </div>
        
        <div class="skgroup">
            <h3>Skills</h3>
            <p>Advanced Algorithms</p>
            <p>Object Oriented Programming</p>
            <p>MVC Framework</p>
            <p>Building custom API/crawlers</p>
            <p>API integration</p>
        </div>
    </div>
</div>

<div class="smean hidden style">
    <img class="mongo" src="/images/mongo.png" alt="MongoDB"/>
    <img class="express" src="/images/express.png" alt="Express"/>
    <img src="/images/angularjs.png" alt="Angular"/>
    <img class="node" src="/images/nodejs.png" alt="Node Js"/>
    
    <div class="sksec">
        <div class="skgroup">
            <h3>Technologies / Languages</h3>
            <p>Advanced JavaScript</p>
            <p>MongoDB</p>
            <p>Express</p>
            <p>AngularJS</p>
            <p>Node.js</p>
            <p>Socket.IO</p>
        </div>
        
        <div class="skgroup">   
            <h3>Skills</h3>
            <p>Advanced JS Framework</p>
            <p>OOP and MVC Framework in JS</p>
            <p>JavaScript Prototypes</p>
            <p>Creating custom JS libraries</p>
            <p>Building Real-time apps</p>
        </div>
    </div>
</div>

<div class="srnr hidden style">
    <img class="ruby" src="/images/ruby.png" alt="Ruby"/>
    <img class="rail" src="/images/rails.png" alt="Rails"/>
    
    <div class="sksec">
        <div class="skgroup">
            <h3>Technologies / Languages</h3>
            <p>Ruby on Rails</p>
            <p>Ajax in Rails</p>
            <p>Test Driven Development</p>
        </div>
        
        <div class="skgroup">   
            <h3>Skills</h3>
            <p>MVC Framework</p>
            <p>Object Relational Mapper</p>
        </div>
    </div>
</div>


